body {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
}

h1 {
  @include font($main-font, normal, normal, 5.8rem, normal);

  @include respond(lg) {
    line-height: 85%;
    font-size: 5rem;
  }
  @include respond(sm) {
    font-size: 4.5rem;
  }
}

h2 {
  @include font($main-font, normal, normal, 3.2rem, normal);
}

h3 {
  @include font($main-font, normal, normal, 2.8rem, normal);
}

h4 {
  @include font($main-font, normal, normal, 1.6rem, normal);

  @include respond(lg) {
    font-size: 2rem;
  }
}

h5 {
  @include font($main-font, normal, normal, 1.4rem, normal);
}

// Top navbar
.header-nav {
  &__btns {
    @include font($main-font, normal, normal, 1.6rem, normal);

    @include respond(lg) {
      font-size: 2rem;
    }
  }
}
// Header text and button
.header-content {
  &__text-sub {
    @include font($main-font, normal, normal, 3.2rem, 5.7rem);

    @include respond(lg) {
      line-height: 4rem;
    }
    @include respond(sm) {
      font-size: 2.8rem;
      line-height: 3rem;
    }
    @include respond(xs) {
      font-size: 2.6rem;
    }
  }
  &__btn {
    a {
      @include font($main-font, normal, normal, 2.8rem, normal);
    }
  }
}

.section-heading {
  @include font($main-font, normal, normal, 2rem, normal);
  text-transform: uppercase;
}
