// COLORS
$color-black: #000;
$color-white: #fff;
$color-bg: #fff;
$color-footer: #f7f7f7;

// Color fonts
$color-fonts-black: #000;
$color-fonts-1: #202020;
$color-fonts-2: #4f4f4f;
$color-fonts-3: #b2b2b2;
$color-fonts-4: #c2c2c2;

// Color shemes
$color-sheme-1: #00c8ff;

/* buttons colors */
$color-btn-hover: rgba(52, 221, 0, 0.6);
$color-btn-bg: rgb(34, 170, 222);

// Fonts
$main-font: "Abel", sans-serif;

// GRID
$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-big: 12rem;
