header {
  padding-top: 3.2rem;
  // width: 100%;
  // margin: 3.2rem auto 0 auto;
}
// Top logo + navbar
.header-nav {
  height: 10rem;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 4.2rem;
  transition: all 0.6s;
  z-index: 99;
  &__logo {
    display: block;
    height: 4.2rem;
    width: auto;
  }

  &__btns {
    a,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: $color-fonts-1;
    }
    a:not(:last-child) {
      margin-right: 4.1rem;
    }
    a:last-child {
      margin-left: 1.8rem;
    }
  }
}

.fixed-nav {
  // display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.9);
}

// Header text and button
.header-content {
  margin-top: 10.4rem;
  min-height: 42rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  &__main-text {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: $color-fonts-1;
  }

  &__text-sub {
    margin-top: -5.6rem;
    color: $color-fonts-2;
  }

  &__btn {
    a,
    a:visited,
    a:hover,
    a:active {
      transition: all 0.2s;
      text-decoration: none;
      color: $color-fonts-1;
      display: block;
      text-align: center;
      width: 23.5rem;
      height: 6rem;
      line-height: 60px;
      color: $color-white;
      background-color: $color-sheme-1;
      border-radius: 10px;
      -webkit-box-shadow: 0px 4px 14px -4px rgba(50, 50, 50, 0.85);
      -moz-box-shadow: 0px 4px 14px -4px rgba(50, 50, 50, 0.85);
      box-shadow: 0px 4px 14px -4px rgba(50, 50, 50, 0.85);
    }
    a:hover {
      -webkit-transform: translateY(-0.12rem);
      transform: translateY(-0.12rem);
      background-color: darken($color-sheme-1, 5%);
    }
    a:active {
      -webkit-transform: translateY(0.12rem);
      transform: translateY(0.12rem);
    }
  }
}
