header {
  position: relative;
  padding-top: 3rem;

  @include respond(sm) {
    padding-top: 0;
  }
}

// Header text and button
.header-content {
  margin-top: 20.4rem;
  margin-bottom: 9.8rem;
  min-height: 42.4rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  @include respond(lg) {
    min-height: 30rem;
    margin-top: 16rem;
  }
  @include respond(md) {
    margin-top: 12rem;
  }
  @include respond(sm) {
    min-height: 40rem;
    margin-top: 0rem;
    padding-top: 10rem;
  }

  &__text-main {
    color: $color-fonts-1;

    @include respond(lg) {
      margin-top: 2rem;
    }
  }

  &__text-sub {
    margin-top: -5.6rem;
    color: $color-fonts-2;

    @include respond(lg) {
      margin-top: 2rem;
    }
  }

  &__btn {
    a,
    a:visited,
    a:hover,
    a:active {
      transition: all 0.2s;
      text-decoration: none;
      color: $color-fonts-1;
      display: block;
      text-align: center;
      width: 23.5rem;
      height: 6rem;
      line-height: 60px;
      color: $color-white;
      background-color: $color-sheme-1;
      border-radius: 10px;
      -webkit-box-shadow: 0px 4px 14px -4px rgba(50, 50, 50, 0.85);
      -moz-box-shadow: 0px 4px 14px -4px rgba(50, 50, 50, 0.85);
      box-shadow: 0px 4px 14px -4px rgba(50, 50, 50, 0.85);

      @include respond(lg) {
        margin-top: 2rem;
      }
    }
    a:hover {
      -webkit-transform: translateY(-0.12rem);
      transform: translateY(-0.12rem);
      background-color: darken($color-sheme-1, 4%);
    }
    @include respond(sm) {
      a:hover {
        -webkit-transform: none;
        transform: none;
        background-color: $color-sheme-1;
      }
    }
    a:active {
      -webkit-transform: translateY(0.12rem);
      transform: translateY(0.12rem);
    }
  }
}
