@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "components/clients-box";
@import "components/navbar";
@import "components/services-box";
@import "components/team-box";
@import "layout/footer";
@import "layout/header";

// Sections between header and footer
.section {
  position: relative;
  margin-top: 8.6rem;
  &-heading {
    position: relative;
    &__content {
      color: $color-fonts-4;
    }
  }
  &-heading:after {
    content: "";
    position: absolute;
    top: calc(50%);
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid $color-fonts-4;
    z-index: -1;
  }

  &-heading__content {
    max-width: 120rem;
    margin: 0 auto;
    span {
      padding: 0 1.7rem 0 1.7rem;
      background-color: $color-white;
    }
  }
  @include respond(md) {
    margin-top: 8rem;
  }
  @include respond(sm) {
    margin-top: 6rem;
  }
  @include respond(xs) {
    margin-top: 5rem;
  }
}

// Section Anchors
.anchor {
  position: absolute;
  top: -8rem;
  left: 0;
}
